header .logos {
    z-index: 9999;
    position: fixed;
    right: 10px;
    top: 10px;

    img {
        height: 30px;
        font-size: 30px;
        vertical-align: middle;
    }
}

.correct-data:not(:hover){
    background: transparent;
    opacity: 0.4;
}

div.chart {
    > .buttons-separator {
        color: #666;
    }
    > button {
        background: transparent;
        color: #666;
        border: none;
        margin-bottom: 2px;
        border-radius: 0;
        
        &:hover {
            color: white;
        }
        &.active {
            color: #DDD;
            box-shadow: none;
            font-weight: bold;
        }
    }
} 
