:host {
    
    

    .card {
        float: left;
        margin: 1em;
        position: relative;
        width:10em;
        height:10em;
        border: 1px solid #555;
        border-radius: 2em;
        font-size: 2rem;
        padding: 1em;
        padding-bottom: 2.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        label{
            color: #999;
        }
    
        .value {
            color: #ddd;
            font-size: 2.2em;
        }

        .unit {
            position: absolute;
            bottom: 0.7em;
            width: calc(100% - 2em);
            font-weight: bolder;
            color: #555;
        }
    }

    
}